.container{
    display:flex;
    align-items:; 
    height: 500px;
    flex-direction:column;
    /* justify-content:center; */ 
    /* padding: 20px;
    background: lightblue;
    margin: 5px; */
     /* justify-content:space-between;  */
     background: skyblue;
     flex-wrap: wrap;
    
}

.box{
     height: 50px; 
     width: 50px;
     margin:20px;
     border:2px solid black;
     padding: 25px;
    

    /* flex-wrap: wrap-reverse;    */
}

    
 #box1{
    /* padding-top: 25PX; */
    background: white;
   
 } 
 
 #box2{
    /* padding: 5PX; */
    background: lightyellow;
 }

 #box3{
    /* padding: 5PX; */
    background: lightpink;
 }
    
 #box4{
    /* padding: 5PX; */
    background: lightgreen;
 }
 
 #box5{
    /* padding: 5PX; */
    background: lightcoral;
 }
 
 #box6{
    /* padding: 5PX; */
    background: lightseagreen;
 }
 
 #box7{
    /* padding: 5PX; */
    background: lightsalmon;
 }
 
 #box8{
    /* padding: 5PX; */
    background: lightgoldenrodyellow;
 }
 
 #box9{
    /* padding: 5PX; */
    background: lightcoral;
 }
 
 #box10{
    /* padding: 5PX; */
    background: lightslategrey;
 }
 
